.colaborador {
    width: 280px;
    margin: 16px;
    transition: all 0.3s ease;
}

.colaborador .cabecalho {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
    padding: 16px;
    text-align: center;
}

.colaborador img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
    transition: all 0.3s ease;
}

.colaborador .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.colaborador .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
    margin-bottom: 8px;
}

@media (max-width: 1024px) {
    .colaborador {
        width: 250px;
    }

    .colaborador img {
        width: 90px;
        bottom: -45px;
    }

    .colaborador .rodape {
        padding-top: 85px;
    }

    .colaborador .rodape h4 {
        font-size: 16px;
    }

    .colaborador .rodape h5 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .colaborador {
        width: 220px;
    }

    .colaborador img {
        width: 80px;
        bottom: -40px;
    }

    .colaborador .rodape {
        padding-top: 80px;
    }

    .colaborador .rodape h4 {
        font-size: 16px;
    }

    .colaborador .rodape h5 {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .colaborador {
        width: 180px;
    }

    .colaborador img {
        width: 60px;
        bottom: -30px;
    }

    .colaborador .rodape {
        padding-top: 70px;
    }

    .colaborador .rodape h4 {
        font-size: 14px;
    }

    .colaborador .rodape h5 {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .colaborador {
        width: 160px;
    }

    .colaborador img {
        width: 50px;
        bottom: -25px;
    }

    .colaborador .rodape {
        padding-top: 60px;
    }

    .colaborador .rodape h4 {
        font-size: 12px;
    }

    .colaborador .rodape h5 {
        font-size: 12px;
    }
}

