.colaborador {
    width: calc(20% + 120px);
    max-width: 280px;
    min-width: 180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.colaborador .cabecalho {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
    width: 90%;
    padding: 0.05rem;
    text-align: center;
}

.colaborador img {
    width: 8.5rem;
    max-width: 120px;
    min-width: 60px;
    height: auto;
    border-radius: 50%;
    position: relative;
    bottom: -40px;
    margin: 0 auto;
}

.colaborador .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding: 3rem 1.5rem; /* Aumentei o padding para 3rem e 1.5rem */
    width: 90%;
    text-align: center;
    margin-top: 0px;
}

.colaborador .rodape h4 {
    color: #6278F7;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 10px;
}

.colaborador .rodape h5 {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #212121;
    padding: 0 1rem;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .colaborador {
        width: calc(25% + 100px);
    }

    .colaborador img {
        width: 8.5rem;
    }

    .colaborador .rodape {
        padding: 2rem 1rem; /* Ajustado para o tamanho de tela menor */
    }
}

@media (max-width: 480px) {
    .colaborador {
        width: calc(30% + 80px);
    }

    .colaborador img {
        width: 8.5rem;
    }

    .colaborador .rodape {
        padding: 1.5rem 1rem; /* Aumentei o padding para telas menores */
    }

    .colaborador .rodape h4, .colaborador .rodape h5 {
        font-size: 0.8rem;
    }
}