/* variaveis.css */

/* Cores principais */
:root {
    --cor-primaria: #0084ff; /* Azul */
    --cor-secundaria: #e74c3c; /* Vermelho */
    --cor-fundo-claro: #F2F2F2; /* Fundo claro */
    --cor-fundo-escuro: #000000; /* Fundo escuro */
    --cor-borda: #eaeaea; /* Cor da borda */
    --cor-hover-primaria: #3b5bd2; /* Hover azul mais escuro */
    --cor-hover-secundaria: #c0392b; /* Hover vermelho mais escuro */
    --cor-texto: #333333; /* Cor do texto principal */
    --cor-texto-claro: #FFFFFF; /* Texto claro */
    --cor-sombra: rgba(0, 0, 0, 0.08); /* Sombra suave */
    --cor-fundo-botoes: #d3d3d3; /* Fundo dos botões */
    --cor-borda-input: #007bff; /* Borda do input no foco */

    /* Fontes */
    --font-family-principal: 'Poppins', sans-serif; /* Fonte principal */
    --font-family-secundaria: 'Montserrat', sans-serif; /* Fonte secundária */

    /* Tamanhos padrão */
    --font-size-base: 16px;
    --font-size-titulo: 24px;
    --font-size-subtitulo: 20px;
}
