.team {
    text-align: center;
    padding: 10px;
}

.team h3 {
    font-size: 32px;
    border-bottom: 4px solid var(--corPrimaria); 
    display: inline-block;
    padding-bottom: 8px;
    color: var(--corPrimaria); 
}

