.formulario {
    display: flex;
    justify-content: center;
    margin: var(--margin-large) 0;
    font-weight: var(--font-weight-bold);
    background: var(--gradient-background);
}

.formulario form {
    max-width: 60%;
    background-color: var(--cor-fundo-claro);
    border-radius: 20px;
    padding: var(--padding-large) var(--padding-large);
    box-shadow: 8px 8px 16px var(--cor-borda);
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body.dark-mode .formulario form {
    background-color: var(--cor-fundo-escuro);
    box-shadow: 8px 8px 16px var(--cor-borda-escura);
}

.campo-texto input,
.campo-texto select,
.campo-texto textarea {
    background-color: var(--cor-fundo-rodape);
    box-shadow: 10px 10px 30px var(--cor-borda);
    width: 100%;
    border: 2px solid white; 
    border-color: var(--cor-fundo-claro);
    font-size: var(--font-size-medium);
    padding: var(--padding-medium);
    box-sizing: border-box;
    border-radius: 20px;
    transition: all ease 0.3s;
}

/* Hover nos campos de input, select e textarea */
.campo-texto input:hover,
.campo-texto select:hover,
.campo-texto textarea:hover {
    scale: 1.03;
}

/* Modo escuro: hover nos campos */
body.dark-mode .campo-texto input:hover,
body.dark-mode .campo-texto select:hover,
body.dark-mode .campo-texto textarea:hover {
    scale: 1.03;
}

/* Adicionando borda branca nos campos de entrada no modo escuro */
body.dark-mode .campo-texto input,
body.dark-mode .campo-texto select,
body.dark-mode .campo-texto textarea {
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto-claro);
    box-shadow: 10px 10px 30px var(--cor-borda-escura);
    border: 2px solid white; /* Borda fina branca */
}

.campo-texto input:focus,
.campo-texto select:focus,
.campo-texto textarea:focus {
    border-color: var(--cor-primaria);
    outline: none;
}

body.dark-mode .campo-texto input:focus,
body.dark-mode .campo-texto select:focus,
body.dark-mode .campo-texto textarea:focus {
    border-color: var(--cor-primaria-escura);
}

.cropper-button.confirmar {
    background-color: #0084ff;
    color: var(--text-color-light);
    border: none;
    transition: background-color 0.3s;
}

/* Hover no botão confirmar */
.cropper-button.confirmar:hover {
    background-color: #006db3;
}

/* Modo escuro: hover no botão confirmar */
body.dark-mode .cropper-button.confirmar:hover {
    background-color: var(--cor-primaria-escura-hover);
}

.cropper-button.cancelar {
    background-color: #ff1900;
    color: var(--text-color-light);
    border: none;
    transition: background-color 0.3s;
}

/* Hover no botão cancelar */
.cropper-button.cancelar:hover {
    background-color: #e50000;
}

/* Modo escuro: hover no botão cancelar */
body.dark-mode .cropper-button.cancelar:hover {
    background-color: var(--cor-secundaria-escura-hover);
}
