.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    font-weight: bold;
}

.formulario form {
    max-width: 60%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

@media (max-width: 1024px) {
    .formulario form {
        max-width: 80%;
        padding: 24px 48px;
    }
}

@media (max-width: 768px) {
    .formulario form {
        max-width: 90%;
        padding: 16px 32px;
    }
}

@media (max-width: 480px) {
    .formulario form {
        max-width: 100%;
        padding: 12px 16px;
    }
}

.campo-texto {
    margin-bottom: 16px;
}

.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}

.campo-texto input,
.campo-texto select,
.campo-texto textarea {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    transition: all ease 0.3s;
}

.campo-texto input:focus,
.campo-texto select:focus,
.campo-texto textarea:focus {
    border-color: #007bff;
    outline: none;
}

.campo-texto input:hover,
.campo-texto select:hover,
.campo-texto textarea:hover {
    scale: 1.03;
}

.campo-texto textarea {
    resize: vertical;
    min-height: 120px;
}

.erro-time {
    color: #e74c3c;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
}

.cropper-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.cropper-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 500px;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cropper-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    background-color: #d3d3d3;
    border-top: 1px solid #eaeaea;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    z-index: 100;
    align-items: center;
}

.cropper-button {
    padding: 12px 32px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.cropper-button.confirmar {
    background-color: #0084ff;
    color: rgb(255, 255, 255);
    border: none;
    margin: 10px;
}

.cropper-button.confirmar:hover {
    background-color: #3b5bd2;
    transform: scale(1.05);
}

.cropper-button.cancelar {
    background-color: #ff1900;
    color: white;
    border: none;
}

.cropper-button.cancelar:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

input[type="range"] {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
}

.cropper-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.preview-imagem {
    margin-top: 20px;
    text-align: left;
    display: block;
    width: 120px;
    height: auto;
    object-fit: cover;
    overflow: visible;
    z-index: 10;
    position: relative;
    margin-left: 10px;
}

.preview-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
}

.preview-imagem button {
    display: block;
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #0084ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 0;
    width: 100%;
    z-index: 20;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
}

.preview-imagem button:hover {
    background-color: #3b5bd2;
    transform: scale(1.05);
}
