@import '../../variable.css';

/* Time Responsivo */
.time {
    text-align: center;
    padding: var(--padding-large);
}

.time h3 {
    font-size: var(--font-size-large);
    border-bottom: 4px solid var(--cor-texto-principal);
    display: inline-block;
    padding-bottom: var(--padding-small);
    font-weight: var(--font-weight-bold);
}

.time .colaboradores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-large);
    gap: var(--margin-medium);
    max-width: 100%;
    height: auto; 
    flex-wrap: wrap;
    transition: all 0.3s ease; 
}

.time .colaboradores .colaborador {
    transition: transform 0.3s ease-in-out; 
    transform: scale(1); 
}

.time .colaboradores .colaborador:hover {
    transform: scale(1.1); 
}

@media (max-width: 1024px) {
    .time h3 {
        font-size: var(--font-size-medium);
    }

    .time .colaboradores {
        justify-content: center;
        gap: var(--padding-medium);
    }
}

@media (max-width: 768px) {
    .time h3 {
        font-size: var(--font-size-small);
    }

    .time .colaboradores {
        flex-direction: row;
        justify-content: center;
        gap: var(--padding-small);
    }
}

@media (max-width: 480px) {
    .time h3 {
        font-size: var(--font-size-small);
    }

    .time .colaboradores {
        flex-direction: row;
        justify-content: center;
        padding: var(--padding-medium);
        gap: var(--padding-small);
    }
}
