@import '../../variable.css';

.banner {
    background-color: var(--primary-color);
    text-align: center;
    padding: var(--padding-medium);
    width: 100%;
    min-height: 200px;
    margin-bottom: var(--margin-medium);
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner h1 {
    font-size: var(--font-size-large);
    color: var(--text-color-light);
    margin: var(--padding-small) 0;
}

@media (max-width: 768px) {
    .banner {
        padding: var(--padding-medium);
        min-height: 150px;
    }

    .banner h1 {
        font-size: var(--font-size-medium);
    }
}

@media (max-width: 480px) {
    .banner h1 {
        font-size: var(--font-size-small);
    }
}
