@import '../../variable.css';

/* Lista Suspensa Responsiva */
div.lista-suspensa select {
    background-color: var(--cor-fundo-rodape);
    box-shadow: 10px 10px 30px var(--cor-borda);
    width: 100%;
    border: none;
    font-size: var(--font-size-medium);
    padding: var(--padding-medium);
    box-sizing: border-box;
    border-radius: 20px;
    transition: all ease 0.3s;
}

div.lista-suspensa select:hover {
    scale: 1.03;
}

@media (max-width: 1024px) {
    div.lista-suspensa select {
        padding: var(--padding-small);
        font-size: var(--font-size-small);
    }
}

@media (max-width: 768px) {
    div.lista-suspensa select {
        padding: var(--padding-small);
        font-size: var(--font-size-small);
    }
}

@media (max-width: 480px) {
    div.lista-suspensa select {
        padding: var(--padding-small);
        font-size: var(--font-size-small);
    }
}
