/* Defina um layout básico para telas grandes, como desktops */
body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* Media query para telas pequenas (celulares) */
@media (max-width: 768px) {
  /* Alterações específicas para telas de celulares */
  body {
      font-size: 16px;  /* Ajuste a fonte para dispositivos menores */
  }

  .banner{
    margin-bottom: 15px;
  }

  .container {
      width: 95%; /* Use uma largura maior para telas pequenas */
  }

  .campo-texto {
      width: 100%; /* Ajuste o tamanho dos campos de texto */
  }

  .lista-suspensa select {
      width: 100%; /* Certifique-se de que a lista suspensa ocupe toda a largura */
  }

  .formulario {
      padding: 20px;
      margin-top: 10px;  /* Diminua o espaço acima do formulário */
  }
}

/* Media query para telas de tablets (a partir de 768px) */
@media (max-width: 1024px) {
  /* Ajustes para telas de tablets */

  .banner{
    margin-bottom: 15px;
  }
  
  .container {
      width: 90%;
  }

  .campo-texto {
      width: 100%;
  }

  .formulario {
      padding: 30px;
  }
}
