@import 'variable.css';

/* Resetando margens e paddings, além de garantir que a fonte e o comportamento de texto sejam consistentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-principal);
  font-size: var(--font-size-base);
  color: var(--cor-texto);
  background-color: var(--cor-fundo-claro);
  line-height: 1.5;
  background: var(--gradient-background);
}

/* Definindo o estilo de texto global */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-secundaria);
  font-weight: bold;
}

p {
  font-size: 1rem;
  color: var(--cor-texto);
}

a {
  text-decoration: none;
  color: var(--cor-primaria);
}

a:hover {
  color: var(--cor-hover-primaria);
}

/* Botões globais */
button {
  background-color: var(--cor-primaria);
  color: var(--cor-texto-claro);
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: var(--cor-hover-primaria);
  transform: scale(1.05);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--cor-borda);
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: var(--cor-borda-input);
  outline: none;
}
